.page-home {
  background-color: var(--gray);
}
.page-home .presentation {
  position: relative;
  padding: 6rem 0;
}
.page-home .presentation .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
.page-home .presentation .coverage {
  position: relative;
  z-index: 1;
}
.page-home .presentation .flow {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: var(--white);
  gap: 1rem;
  margin: auto;
}
.page-home .presentation .flow h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.page-home .presentation .flow p {
  font-size: 1rem;
  font-weight: 300;
}
.page-home .presentation .flow .btn-insc {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  user-select: none;
}
.page-home .presentation .flow .btn-insc:hover {
  background-color: var(--primary);
}
.page-home .process {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  background: linear-gradient(to right, var(--blueblack) 0%, var(--blueblack) 40%, var(--primary) 100%);
  position: relative;
}
.page-home .process .subt1 {
  color: var(--primary);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.page-home .process .subt2 {
  color: var(--white);
  font-size: 1rem;
  text-align: center;
}
.page-home .process .steps {
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  margin: 3rem 0;
}
.page-home .process .steps .line {
  position: absolute;
  top: 8rem;
  width: 65%;
  background-color: var(--primary);
  height: 0.25rem;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}
.page-home .process .steps .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 2;
  flex: 1;
}
.page-home .process .steps .step img {
  width: 6rem;
  height: 6rem;
  filter: invert(1);
}
.page-home .process .steps .step p {
  color: var(--white);
}
.page-home .process .steps .step .num {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.page-home .process .steps .step .flow {
  text-align: center;
  font-size: 0.9rem;
}
.page-home .process .steps .step .flow span {
  font-weight: 600;
}
.page-home .process .spe {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  background-color: var(--primary);
  padding: 1rem 3rem;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  border-radius: 0 2rem 0 2rem;
}
.page-home .process .spe span {
  font-weight: 600;
}
.page-home .available-courses {
  padding: 5rem 0;
  background-color: var(--white);
}
.page-home .available-courses .filter {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.page-home .available-courses .filter .tit {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.page-home .available-courses .filter .tit span {
  font-weight: 600;
}
.page-home .available-courses .filter .tit .icon-right {
  color: var(--primary);
  margin-right: 0.5rem;
}
.page-home .available-courses .filter .categories {
  display: flex;
  gap: 1rem;
}
.page-home .available-courses .filter .categories .btn-fil {
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  user-select: none;
}
.page-home .available-courses .filter .categories .btn-fil.selected,
.page-home .available-courses .filter .categories .btn-fil:hover {
  background-color: var(--primary);
  color: var(--white);
}
.page-home .available-courses .list {
  margin-top: 2rem;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.page-home .available-courses .list.fade-out {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}
.page-home .list-teachers {
  padding: 5rem 0;
  background-color: var(--gray);
}
.page-home .list-teachers .title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.page-home .list-teachers .title .icon-right {
  color: var(--primary);
}
.page-home .list-teachers .title p span {
  font-weight: 600;
}
.page-home .list-teachers .list {
  border-radius: 0.5rem;
  overflow: hidden;
}
.page-home .redir-ins {
  padding: 3rem 0;
  background-color: var(--primary);
}
.page-home .redir-ins .coverage {
  display: flex;
  width: 50rem;
  align-items: center;
  justify-content: space-between;
}
.page-home .redir-ins .flow {
  display: flex;
  text-align: center;
  width: 60%;
  color: var(--white);
}
.page-home .redir-ins .btn-redir {
  background-color: var(--white);
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: 500;
  height: fit-content;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  user-select: none;
}
.page-home .redir-ins .btn-redir span {
  font-weight: 600;
}

@media only screen and (max-width: 100rem) {
  /* ≤ 1600px */
}
@media only screen and (max-width: 75rem) {
  /* ≤ 1200px */
}
@media only screen and (max-width: 62rem) {
  /* ≤ 992px  */
  .page-home .presentation .flow {
    align-items: center;
    width: 80%;
    text-align: center;
  }
  .page-home .presentation .flow br {
    display: none;
  }
  .page-home .presentation .flow h1 {
    font-size: 1.2rem;
  }
  .page-home .process .steps {
    gap: 2rem;
  }
  .page-home .process .steps .line {
    top: 7rem;
  }
  .page-home .process .steps .step img {
    width: 5rem;
    height: 5rem;
  }
  .page-home .process .steps .step .flow br {
    display: none;
  }
  .page-home .redir-ins .coverage {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
}
@media only screen and (max-width: 48rem) {
  /* ≤ 768px  */
  .page-home .process .steps .step .flow {
    font-size: 0.8rem;
  }
  .page-home .process .subt1 {
    font-size: 1rem;
  }
  .page-home .process .spe {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  .page-home .available-courses .filter {
    flex-direction: column;
    align-items: normal;
    gap: 1rem;
  }
  .page-home .redir-ins .flow {
    width: 90%;
  }
}
@media only screen and (max-width: 36rem) {
  /* ≤ 576px  */
  .page-home .presentation {
    padding: 4rem 0;
  }
  .page-home .presentation .flow {
    width: 90%;
    gap: 0.5rem;
  }
  .page-home .presentation .flow h1 {
    font-size: 1rem;
  }
  .page-home .presentation .flow p {
    font-size: 0.8rem;
  }
  .page-home .presentation .flow .btn-insc {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: .8rem;
  }
  .page-home .process .steps {
    gap: 1rem;
  }
  .page-home .process .steps .step img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .page-home .process .steps .step .num {
    width: 2.3rem;
    height: 2.3rem;
    font-size: 1.2rem;
  }
  .page-home .process .steps .line {
    top: 5.5rem;
  }
  .page-home .process .spe {
    font-size: 0.9rem;
  }
  .page-home .process .subt2 {
    font-size: 0.8rem;
  }
  .page-home .process .steps {
    margin: 2rem 0;
  }
  .page-home .available-courses {
    padding: 3rem 0;
  }
  .page-home .available-courses .filter .tit {
    font-size: 1rem;
  }
  .page-home .list-teachers .title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .page-home .available-courses .filter .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .page-home .available-courses .filter .categories p {
    flex: 0 0 calc((100% - 1rem) / 2);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .page-home .available-courses .list {
    margin-top: 1rem;
  }
  .page-home .available-courses .filter .categories p:hover {
    background-color: var(--white);
    color: var(--black);
  }
  .page-home .available-courses .filter .categories p.selected {
    background-color: var(--primary);
    color: var(--white);
  }
  .page-home .list-teachers {
    padding: 3rem 0;
  }
  .page-home .redir-ins .flow {
    font-size: 0.8rem;
  }
  .page-home .redir-ins .btn-redir {
    font-size: 0.9rem;
    padding: 1rem 2rem;
  }
  .page-home .available-courses .filter .categories .btn-fil{
    font-size: .8rem;
  }
}
